---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import CalendarMainGrid from "../layouts/CalendarMainGrid.astro";
import CalendarLeftGrid from "../layouts/CalendarLeftGrid.astro";
import CalendarRightGrid from "../layouts/CalendarRightGrid.astro";
import Cell from "../components/Cell.astro";
import Counter from "../components/Counter.astro";
import MonthNavigation from "../components/MonthNavigation.astro";
import DateDisplay from "../components/DateDisplay.astro";
import DayDisplay from "../components/DayDisplay.astro";
import YearDisplay from "../components/YearDisplay.astro";

const todayDate = new Date();
const endDate = new Date("2025-12-20");
const dayNumber = todayDate.getDate();
const dayOfWeek = todayDate.getDay();
const daysOfWeek = [
	"SUN",
	"MON",
	"TUE",
	"WED",
	"THU",
	"FRI",
	"SAT",
];
const monthsOfYear = [
	"JAN",
	"FEB",
	"MAR",
	"APR",
	"MAY",
	"JUN",
	"JUL",
	"AUG",
	"SEP",
	"OCT",
	"NOV",
	"DEC"
];
const dayName = daysOfWeek[dayOfWeek];
const monthName = monthsOfYear[todayDate.getMonth()];
const year = todayDate.getFullYear();

let monLeft = 0,
	tueLeft = 0,
	wedLeft = 0,
	thuLeft = 0,
	friLeft = 0,
	satLeft = 0,
	sunLeft = 0;

let currentDate = new Date(todayDate);
do {
	const currentDay = currentDate.getDay();

	// Count each day based on its weekday
	switch (currentDay) {
		case 0:
			sunLeft++;
			break;
		case 1:
			monLeft++;
			break;
		case 2:
			tueLeft++;
			break;
		case 3:
			wedLeft++;
			break;
		case 4:
			thuLeft++;
			break;
		case 5:
			friLeft++;
			break;
		case 6:
			satLeft++;
			break;
	}

	// Move to the next day
	currentDate.setDate(currentDate.getDate() + 1);
} while (currentDate <= endDate);

const publicHoliday = 8;
let workDaysLeft = monLeft + tueLeft + wedLeft + thuLeft + friLeft - publicHoliday;
workDaysLeft = Math.max(workDaysLeft, 0);

if (workDaysLeft <= 4)
{
	workDaysLeft = monLeft + tueLeft + wedLeft + thuLeft + friLeft;
}
const daysLeft = monLeft + tueLeft + wedLeft + thuLeft + friLeft + satLeft + sunLeft;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>February {year}</title>
	</head>
	<body>
		<BaseLayout>
			<CalendarMainGrid>
				<CalendarLeftGrid slot="gridL">
					<div class="top__container" slot="gridTop">
						<DateDisplay dayName={dayName} monthName={monthName} dayNumber={dayNumber} />
					</div>
					<div class="bottom__container" slot="gridBottom">
						<Counter label="Work Days Left" value={workDaysLeft} />
						<Counter label="Total Days Left" value={daysLeft} />
						<Counter label="Mondays" value={monLeft} />
						<Counter label="Tuesdays" value={tueLeft} />
						<Counter label="Wednesdays" value={wedLeft} />
						<Counter label="Thursdays" value={thuLeft} />
						<Counter label="Fridays" value={friLeft} />
						<Counter label="Saturdays" value={satLeft} />
						<Counter label="Sundays" value={sunLeft} />
					</div>
				</CalendarLeftGrid>
				<CalendarRightGrid slot="gridR">
					<YearDisplay slot="cell1" currentYear={year} />
					
					<MonthNavigation slot="cell2" monthName="FEB" />

					<DayDisplay slot="cell3" day={daysOfWeek[1]} />
					<DayDisplay slot="cell4" day={daysOfWeek[2]} />
					<DayDisplay slot="cell5" day={daysOfWeek[3]} />
					<DayDisplay slot="cell6" day={daysOfWeek[4]} />
					<DayDisplay slot="cell7" day={daysOfWeek[5]} />
					<DayDisplay slot="cell8" day={daysOfWeek[6]} />
					<DayDisplay slot="cell9" day={daysOfWeek[0]} />

					<!-- Week 1 -->
					<Cell slot="cell10" isCheckedOff={true} number={27} isPrePost={true} />
					<Cell slot="cell11" isCheckedOff={true} number={28} isPrePost={true} />
					<Cell slot="cell12" isCheckedOff={true} number={29} isPrePost={true} />
					<Cell slot="cell13" isCheckedOff={true} number={30} isPrePost={true} />
					<Cell slot="cell14" isCheckedOff={true} number={31} isPrePost={true} />
					<Cell slot="cell15" isCheckedOff={true} number={1} isPrePost={false} />
					<Cell slot="cell16" isCheckedOff={true} number={2} isPrePost={false} />
					
					<!-- Week 2 -->
					<Cell slot="cell17" isCheckedOff={true} number={3} isPrePost={false} />
					<Cell slot="cell18" isCheckedOff={true} number={4} isPrePost={false} />
					<Cell slot="cell19" isCheckedOff={true} number={5} isPrePost={false} />
					<Cell slot="cell20" isCheckedOff={true} number={6} isPrePost={false} />
					<Cell slot="cell21" isCheckedOff={true} number={7} isPrePost={false} />
					<Cell slot="cell22" isCheckedOff={true} number={8} isPrePost={false} />
					<Cell slot="cell23" isCheckedOff={true} number={9} isPrePost={false} />

					<!-- Week 3 -->
					<Cell slot="cell24" isCheckedOff={true} number={10} isPrePost={false} />
					<Cell slot="cell25" isCheckedOff={true} number={11} isPrePost={false} />
					<Cell slot="cell26" isCheckedOff={true} number={12} isPrePost={false} />
					<Cell slot="cell27" isCheckedOff={true} number={13} isPrePost={false} />
					<Cell slot="cell28" isCheckedOff={true} number={14} isPrePost={false} />
					<Cell slot="cell29" isCheckedOff={true} number={15} isPrePost={false} />
					<Cell slot="cell30" isCheckedOff={true} number={16} isPrePost={false} />

					<!-- Week 4 -->
					<Cell slot="cell31" isCheckedOff={true} number={17} isPrePost={false} />
					<Cell slot="cell32" isCheckedOff={true} number={18} isPrePost={false} />
					<Cell slot="cell33" isCheckedOff={true} number={19} isPrePost={false} />
					<Cell slot="cell34" isCheckedOff={true} number={20} isPrePost={false} />
					<Cell slot="cell35" isCheckedOff={false} number={21} isPrePost={false} />
					<Cell slot="cell36" isCheckedOff={false} number={22} isPrePost={false} />
					<Cell slot="cell37" isCheckedOff={false} number={23} isPrePost={false} />
					
					<!-- Week 5 -->
					<Cell slot="cell38" isCheckedOff={false} number={24} isPrePost={false} />
					<Cell slot="cell39" isCheckedOff={false} number={25} isPrePost={false} />
					<Cell slot="cell40" isCheckedOff={false} number={26} isPrePost={false} />
					<Cell slot="cell41" isCheckedOff={false} number={27} isPrePost={false} />
					<Cell slot="cell42" isCheckedOff={false} number={28} isPrePost={false} />
					<Cell slot="cell43" isCheckedOff={false} number={1} isPrePost={true} />
					<Cell slot="cell44" isCheckedOff={false} number={2} isPrePost={true} />

					<!-- Week 6 -->
					<Cell slot="cell45" isCheckedOff={false} number={3} isPrePost={true} />
					<Cell slot="cell46" isCheckedOff={false} number={4} isPrePost={true} />
					<Cell slot="cell47" isCheckedOff={false} number={5} isPrePost={true} />
					<Cell slot="cell48" isCheckedOff={false} number={6} isPrePost={true} />
					<Cell slot="cell49" isCheckedOff={false} number={7} isPrePost={true} />
					<Cell slot="cell50" isCheckedOff={false} number={8} isPrePost={true} />
					<Cell slot="cell51" isCheckedOff={false} number={9} isPrePost={true} />
				</CalendarRightGrid>
			</CalendarMainGrid>
		</BaseLayout>
	</body>
</html>

<style>
	.CalendarLeftGrid,
	.CalendarRightGrid {
		margin: 0;
		padding: 0;
	}
	/* Calendar Left */
	.top__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		width: 100%;
		border-top-left-radius: 20px;
	}

	.bottom__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		width: 100%;
		border-bottom-left-radius: 20px;
		gap: 10px;
	}
	/* Calendar Left */
</style>
