---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import CalendarMainGrid from "../layouts/CalendarMainGrid.astro";
import CalendarLeftGrid from "../layouts/CalendarLeftGrid.astro";
import CalendarRightGrid from "../layouts/CalendarRightGrid.astro";
import Cell from "../components/Cell.astro";

const todayDate = new Date();
const endDate = new Date("2024-12-21");
const dayNumber = todayDate.getDate();
const dayOfWeek = todayDate.getDay();
const daysOfWeek = [
	"SUN",
	"MON",
	"TUE",
	"WED",
	"THU",
	"FRI",
	"SAT",
];
const monthsOfYear = [
	"JAN",
	"FEB",
	"MAR",
	"APR",
	"MAY",
	"JUN",
	"JUL",
	"AUG",
	"SEP",
	"OCT",
	"NOV",
	"DEC"
];
const dayName = daysOfWeek[dayOfWeek];
const monthName = monthsOfYear[todayDate.getMonth()];

let monLeft = 0,
	tueLeft = 0,
	wedLeft = 0,
	thuLeft = 0,
	friLeft = 0,
	satLeft = 0,
	sunLeft = 0;

let currentDate = new Date(todayDate);
do {
	const currentDay = currentDate.getDay();

	// Count each day based on its weekday
	switch (currentDay) {
		case 0:
			sunLeft++;
			break;
		case 1:
			monLeft++;
			break;
		case 2:
			tueLeft++;
			break;
		case 3:
			wedLeft++;
			break;
		case 4:
			thuLeft++;
			break;
		case 5:
			friLeft++;
			break;
		case 6:
			satLeft++;
			break;
	}

	// Move to the next day
	currentDate.setDate(currentDate.getDate() + 1);
} while (currentDate <= endDate);

const publicHoliday = 1;
let workDaysLeft = monLeft + tueLeft + wedLeft + thuLeft + friLeft - publicHoliday;
workDaysLeft = Math.max(workDaysLeft, 0);

if (workDaysLeft <= 4)
{
	workDaysLeft = monLeft + tueLeft + wedLeft + thuLeft + friLeft;
}
const daysLeft = monLeft + tueLeft + wedLeft + thuLeft + friLeft + satLeft + sunLeft;

const redirectToMonth = false;
if (redirectToMonth) {
	return Astro.redirect('/monthTwo');
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Calendar</title>
	</head>
	<body>
		<BaseLayout>
			<CalendarMainGrid>
				<CalendarLeftGrid slot="gridL">
					<div class="top__container" slot="gridTop">
						<div class="inner__topContainer">
							<div class="todays__day">{dayName}</div>
							<div class="todays__day">{monthName}</div>
						</div>
						<div class="todays__date">{dayNumber}</div>
					</div>
					<div class="bottom__container" slot="gridBottom">
						<div class="inner__container">
							<div class="counter__lbl">Work Days Left:</div>
							<div class="counter__text">{workDaysLeft}</div>
						</div>
						<div class="inner__container">
							<div class="counter__lbl">Total Days Left:</div>
							<div class="counter__text">{daysLeft}</div>
						</div>
						<div class="inner__container">
							<div class="counter__lbl">Mondays:</div>
							<div class="counter__text">{monLeft}</div>
						</div>
						<div class="inner__container">
							<div class="counter__lbl">Tuesdays:</div>
							<div class="counter__text">{tueLeft}</div>
						</div>
						<div class="inner__container">
							<div class="counter__lbl">Wednesdays:</div>
							<div class="counter__text">{wedLeft}</div>
						</div>
						<div class="inner__container">
							<div class="counter__lbl">Thursdays:</div>
							<div class="counter__text">{thuLeft}</div>
						</div>
						<div class="inner__container">
							<div class="counter__lbl">Fridays:</div>
							<div class="counter__text">{friLeft}</div>
						</div>
						<div class="inner__container">
							<div class="counter__lbl">Saturdays:</div>
							<div class="counter__text">{satLeft}</div>
						</div>
						<div class="inner__container">
							<div class="counter__lbl">Sundays:</div>
							<div class="counter__text">{sunLeft}</div>
						</div>
					</div>
				</CalendarLeftGrid>
				<CalendarRightGrid slot="gridR">
					<div class="year__container" slot="cell1">
						<div class="year__text">2024</div>
					</div>
					<div class="months" slot="cell2">
						<a href="/january/"><div class="month">JAN</div></a>
						<a href="/february/"><div class="month">FEB</div></a>
						<a href="/march/"><div class="month current__month">MAR</div></a>
						<a href="/april/"><div class="month">APR</div></a>
						<a href="/may/"><div class="month">MAY</div></a>
						<a href="/june/"><div class="month">JUN</div></a>
						<a href="/july/"><div class="month">JUL</div></a>
						<a href="/august/"><div class="month">AUG</div></a>
						<a href="/september/"><div class="month">SEP</div></a>
						<a href="/october/"><div class="month">OCT</div></a>
						<a href="/november/"><div class="month">NOV</div></a>
						<a href="/december/"><div class="month">DEC</div></a>
					</div>
					<div class="heading__cell" slot="cell3">MON</div>
					<div class="heading__cell" slot="cell4">TUE</div>
					<div class="heading__cell" slot="cell5">WED</div>
					<div class="heading__cell" slot="cell6">THU</div>
					<div class="heading__cell" slot="cell7">FRI</div>
					<div class="heading__cell" slot="cell8">SAT</div>
					<div class="heading__cell" slot="cell9">SUN</div>

					<!-- Week 1 -->
					<Cell slot="cell10" isCheckedOff={true} number={26} isPrePost={true} />
					<Cell slot="cell11" isCheckedOff={true} number={27} isPrePost={true} />
					<Cell slot="cell12" isCheckedOff={true} number={28} isPrePost={true} />
					<Cell slot="cell13" isCheckedOff={true} number={29} isPrePost={true} />
					<Cell slot="cell14" isCheckedOff={true} number={1} isPrePost={false} />
					<Cell slot="cell15" isCheckedOff={true} number={2} isPrePost={false} />
					<Cell slot="cell16" isCheckedOff={true} number={3} isPrePost={false} />
					
					<!-- Week 2 -->
					<Cell slot="cell17" isCheckedOff={true} number={4} isPrePost={false} />
					<Cell slot="cell18" isCheckedOff={true} number={5} isPrePost={false} />
					<Cell slot="cell19" isCheckedOff={true} number={6} isPrePost={false} />
					<Cell slot="cell20" isCheckedOff={true} number={7} isPrePost={false} />
					<Cell slot="cell21" isCheckedOff={true} number={8} isPrePost={false} />
					<Cell slot="cell22" isCheckedOff={true} number={9} isPrePost={false} />
					<Cell slot="cell23" isCheckedOff={true} number={10} isPrePost={false} />

					<!-- Week 3 -->
					<Cell slot="cell24" isCheckedOff={true} number={11} isPrePost={false} />
					<Cell slot="cell25" isCheckedOff={true} number={12} isPrePost={false} />
					<Cell slot="cell26" isCheckedOff={true} number={13} isPrePost={false} />
					<Cell slot="cell27" isCheckedOff={true} number={14} isPrePost={false} />
					<Cell slot="cell28" isCheckedOff={true} number={15} isPrePost={false} />
					<Cell slot="cell29" isCheckedOff={true} number={16} isPrePost={false} />
					<Cell slot="cell30" isCheckedOff={true} number={17} isPrePost={false} />

					<!-- Week 4 -->
					<Cell slot="cell31" isCheckedOff={true} number={18} isPrePost={false} />
					<Cell slot="cell32" isCheckedOff={true} number={19} isPrePost={false} />
					<Cell slot="cell33" isCheckedOff={true} number={20} isPrePost={false} />
					<Cell slot="cell34" isCheckedOff={true} number={21} isPrePost={false} />
					<Cell slot="cell35" isCheckedOff={true} number={22} isPrePost={false} />
					<Cell slot="cell36" isCheckedOff={true} number={23} isPrePost={false} />
					<Cell slot="cell37" isCheckedOff={true} number={24} isPrePost={false} />
					
					<!-- Week 5 -->
					<Cell slot="cell38" isCheckedOff={true} number={25} isPrePost={false} />
					<Cell slot="cell39" isCheckedOff={true} number={26} isPrePost={false} />
					<Cell slot="cell40" isCheckedOff={true} number={27} isPrePost={false} />
					<Cell slot="cell41" isCheckedOff={true} number={28} isPrePost={false} />
					<Cell slot="cell42" isCheckedOff={true} number={29} isPrePost={false} />
					<Cell slot="cell43" isCheckedOff={true} number={30} isPrePost={false} />
					<Cell slot="cell44" isCheckedOff={true} number={31} isPrePost={false} />

					<!-- Week 6 -->
					<Cell slot="cell45" isCheckedOff={true} number={1} isPrePost={true} />
					<Cell slot="cell46" isCheckedOff={true} number={2} isPrePost={true} />
					<Cell slot="cell47" isCheckedOff={true} number={3} isPrePost={true} />
					<Cell slot="cell48" isCheckedOff={true} number={4} isPrePost={true} />
					<Cell slot="cell49" isCheckedOff={true} number={5} isPrePost={true} />
					<Cell slot="cell50" isCheckedOff={true} number={6} isPrePost={true} />
					<Cell slot="cell51" isCheckedOff={true} number={7} isPrePost={true} />
				</CalendarRightGrid>
			</CalendarMainGrid>
		</BaseLayout>
	</body>
</html>

<style>
	.CalendarLeftGrid,
	.CalendarRightGrid {
		margin: 0;
		padding: 0;
	}
	/* Calendar Left */
	.top__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		width: 100%;
		border-top-left-radius: 20px;
	}

	.inner__topContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 10px;
	}

	.todays__date {
		font-size: 150px;
		color: #ffffff;
		font-weight: 700;
		line-height: 0.8;
	}
	.todays__day {
		font-size: 30px;
		font-weight: bold;
		color: #000000;
	}

	.todays__day:first-of-type {
		color: #FF3C3C;
	}

	.todays__day:nth-of-type(2) {
		color: #707070
	}
	.bottom__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		width: 100%;
		border-bottom-left-radius: 20px;
		gap: 10px;
	}
	.inner__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 65%;
	}
	.counter__lbl {
		font-size: 20px;
		font-weight: bold;
		color: #ffffff;
	}

	.counter__text {
		font-size: 20px;
		font-weight: bold;
		color: #ffffff;
	}
	/* Calendar Left */
	/* Calendar Right */
	.year__container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	.year__text {
		font-size: 30px;
		font-weight: bold;
		color: #808080;
	}

	.months {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		height: 90%;
		border-bottom: 2px solid #707070;
		padding-bottom: 6px;
		overflow: hidden;
	}

	.month {
		font-size: 20px;
		font-weight: bold;
		color: #707070;
		margin: 0 8px;
	}
	.current__month {
		color: #2ecc71;
	}
	.heading__cell {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 16px;
		font-weight: bold;
		color: #808080;
	}
	.cell {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
	}

	.cell__text {
		font-size: 18px;
		font-weight: bold;
		color: #3B3B3B;
	}

	.checkedOff {
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset !important;
		background-color: #f5f5f5;
	}

	.triangleL {
		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-right: 10px solid #e8e8e8;
		border-bottom: 5px solid transparent;
		margin-right: 10px;
	}

	.triangleL:hover {
		border-right: 10px solid #2ecc71;
	}

	.triangleR {
		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-left: 10px solid #e8e8e8;
		border-bottom: 5px solid transparent;
		margin-left: 10px;
	}
	.triangleR:hover {
		border-left: 10px solid #2ecc71;
	}

	a {
		text-decoration: none;
	}

	.pre__postDate {
		color: #FF3C3C !important;
	}
	/* Calendar Right */
</style>
