---
import "../styles/global.css";

const { isCheckedOff = false, number = null, isPrePost = false, isPubHoliday = false } = Astro.props;

const textClass = `cell__text ${isPrePost ? 'pre__postDate' : ''} ${isPubHoliday ? 'publicHoliday' : ''}`;

const cellClassList = `cell ${isCheckedOff ? 'checkedOff' : ''}`;
---

<div class={cellClassList}>
  {number !== null ? <div class={textClass}>{number}</div> : <slot />}
</div>

<style>
  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: 0rem 0.125rem 0.25rem 0rem var(--transparent-black);
    border-radius: 1.25rem;
  }

  .checkedOff {
		box-shadow: 0rem 0.125rem 0.25rem 0rem var(--transparent-black) inset !important;
		background-color: var(--background-colour);
	}

  .cell__text {
		font-size: 1.375rem;
		font-weight: bold;
		color: var(--dark-grey);
	}

  .pre__postDate {
		color: var(--red) !important;
	}

  .publicHoliday {
    color: var(--teal) !important;
  }
</style>

<!-- Usage: -->
<!-- <Cell isCheckedOff={false} number={0} isPrePost={false} /> -->